/* Masquer le curseur natif partout */
*, *::before, *::after {
    cursor: none !important;
}

.cursor-dot {
    position: fixed;
    top: -4px;
    left: -4px;

    width: 8px;
    height: 8px;

    background: #008cff;
    border-radius: 50%;

    pointer-events: none;
    z-index: 99999;

    will-change: transform;
}

.cursor-ring {
    position: fixed;
    top: -20px;
    left: -20px;

    width: 40px;
    height: 40px;

    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    pointer-events: none;
    z-index: 99998;

    will-change: transform;
}